#ignore everything here, except subdirectories.
*
!*/
#Also don't ignore these things because editing them manually on the server is a pain in the fucking ass.
!custom_items.txt
!custom_sprites.txt
!alienwhitelist.txt
!jobwhitelist.txt
/dbconfig.txt
/forumdbconfig.txt
/game_options.txt
/jobs.txt
/jobwhitelist.txt
/jukebox.json
/jukebox.txt
/mentors.txt
/moderators.txt
/motd.txt
/rules.html
/access levels.txt
/admin_ranks.txt
/admins.txt
/alienwhitelist.txt
/config.txt
/custom_items.txt
/custom_sprites.txt
